<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head th:insert="~{fragments/head}" />

<body>
    <header th:insert="~{fragments/header}" />

    <section>
        <h1 class="h1-principal">Áreas Protegidas</h1>
        <img src="https://www.cnpm.embrapa.br/projetos/car/2018/BRASIL_areasdedicadaspreservacao_areasprotegidas_CAR2018.jpg"
            id="mapa-brasil" alt="">
        <div id="div-link-referencia">
            <p>Mais Informações disponíveis <a href="https://www.embrapa.br/car/sintese">aqui</a>.</p>
        </div>
    </section>
    <footer class="footer-geral" th:insert="~{fragments/footer.html}" />
</body>

</html>