<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head th:insert="~{fragments/head}" />

<body>
    <header th:insert="~{fragments/header}" />

      <section>
          <h1 class="h1-principal">Orientações</h1>
      
          <main role="main">
            <div class="px-5">
              <div class="container-fluid">
                  
                  <div class="row col-lg-12 posicao">
                      <img class="d-flex justify-content-center" th:src="@{../imagens/o5.jpg}" style="width: 1000px; height: 500px;" alt="titulo">
                  </div>
                  <hr class="featurette-divider divisoriaReta">
                  <br>
              </div>
            </div>
        
          
            
          
              <!--INFORMAÇÕES COM TEXTO  -->
  
  
              <div class="container-fluid">
                <h4 class="mt-4 mb-3 h3-principal subtitulo">Informações</h4>
          
                <div class="row">
                   <div class="col-md-12 col-lg-6">
                      <div class="card mb-3">
                         <img class="card-img-top" th:src="@{../imagens/inf1.jpg}" alt="inform1">
                         <div class="card-body">
                            <div class="text-center">
                               <h5 class="card-title subtitulo">Como agir em casos de incêndios acidentais</h5>
                               <p class="text-warning font-weight-bolder">Ações Práticas</p>
                            </div>
                            <p><b>No momento em que estiver ocorrendo o fogo, deve-se:</b></p>
                            <p class="card-text text-justify"><b>1.</b>Mobilizar todas as pessoas da fazenda e vizinhos para evitar que o
                              fogo fique incontrolável;</p>
                              <p class="text-justify"><b>2.</b>Acionar o Corpo de Bombeiros, Prefeitura Municipal ou a Defesa Civil e
                              registrar o nome da pessoa com quem se manteve o contato;</p>
                              <p class="text-justify"><b>3.</b>Fotografar:</p>
                              <p class="text-justify">   • A ação das pessoas envolvidas em conter o fogo; se possível,
                              fotografar de uma única vez o grupo inteiro de combate;</p>
                              <p class="text-justify">   • Os equipamentos utilizados na ação;</p>
                              <p class="text-justify">   • No momento em que estiver ocorrendo o fogo, fotografar e filmar</p>
                         </div>
                         <div class="card-footer">
                            <div class="text-right">
                               <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#inf1" aria-expanded="false" aria-controls="inf1">Continuar lendo...</button>
                            <div class="collapse" id="inf1">
                              <p class="text-justify"><b>Após a contenção do fogo:</b></p>
                              <p class="text-justify"><b>1.</b>Fotografar os prejuízos econômicos e ambientais em decorrência do fogo:
                                cercas, animais domésticos e silvestres, pastagem, plantações, etc; </p>
                                <p class="text-justify"><b>2.</b>Registrar o boletim de ocorrência;</p>
                                <p class="text-justify"><b>3.</b>Obter declarações das pessoas envolvidas na contenção do fogo (com
                                  firma reconhecida em cartório) as quais deverão relatar o ocorrido;</p>
                                <p class="text-justify"><b>4.</b>Obter cópia do relatório dos bombeiros, caso eles tenham participado
                                  da ação;</p>
                                <p class="text-justify"><b>5.</b>Obter documento de entidades públicas que contribuíram para a
                                   contenção do fogo ou tomaram conhecimento dele: Prefeitura Municipal, Defesa Civil, Órgão estadual e municipal de Meio Ambiente;</p>
                                <p class="text-justify"><b>6.</b>Laudo técnico pericial da área sinistrada;</p>
                                <p class="text-justify"><b>7.</b>Se necessário, valer-se de profissionais habilitados para que tomem as
                                  providências necessárias perante os órgãos ambientais competentes</p>
                            </div>
                          </div>
                        </div>
                      </div>
                   </div>
                
                
                   <div class="col-md-6 col-lg-6">
                      <div class="card mb-3">
                         <img class="card-img-top" th:src="@{../imagens/inf2.jpg}" alt="informacao2">
                         <div class="card-body">
                            <div class="text-center">
                               <h5 class="card-title subtitulo">Como prevenir incêndios e proteger sua propriedade rural</h5>
                               <p class="text-warning font-weight-bolder texto">Ações Práticas</p>
                            </div>
                            <p class="card-text text-justify">A construção de aceiro preventivo
                              dentro e nos limites da propriedade não requer autorização legal. Além
                              disso, é possível utilizar a queima controlada, que é de baixo custo e
                              serve, principalmente, para reduzir o material combustível existente. A
                              queima da vegetação seca às margens de estradas é outro meio eficiente para
                              reduzir a presença desse material.Uma medida importante e
                              indispensável é o monitoramento ou a vigilância contínua da propriedade.
                              Porém, apesar de todas essas orientações para prevenção, os
                              incêndios fatalmente podem ocorrer e o proprietário rural deverá tomar
                              algumas medidas a fim de garantir sua  segurança jurídica e comprovar seus
                              cuidados com a propriedade e com o meio ambiente. São elas:</p>
                              <p class="text-justify"><b>-</b>Manter um arquivo fotográfico atualizado</p>
                                <p class="text-justify"><b>-</b>Ter em sua propriedade ou na propriedade vizinha
                                  equipamentos úteis de combate a incêndios</p>
                         </div>
                         <div class="card-footer">
                          <div class="text-right">
                             <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#inf2" aria-expanded="false" aria-controls="inf2">Mais Informações...</button>
                          <div class="collapse" id="inf2">
                            <p class="text-justify"><b>Manter um arquivo fotográfico atualizado:</b></p>
                            <p class="text-justify"><b>-</b>Áreas de Preservação Permanente – APP;</p>
                            <p class="text-justify"><b>-</b>Áreas de Reserva Legal – ARL;</p>
                            <p class="text-justify"><b>-</b>Aceiros (ação obrigatória em toda propriedade rural);</p>
                              <p class="text-justify"><b>-</b>Cerca, se houver;</p>
                            <p class="text-justify"><b>-</b>Toda ação que for desenvolvida na propriedade;</p>
                            <p class="text-justify pb-2"><b>-</b>Equipamentos de combate ao fogo.</p>

                              <p class="text-justify"><b>Ter em sua propriedade ou na propriedade vizinha
                                equipamentos úteis de combate a incêndios, tais como:</b></p>
                              <p class="text-justify">Caminhão ou trator-pipa (reservatório de água);</p>
                              <p class="text-justify"><b>-</b>Bomba d’água;</p>
                              <p class="text-justify"><b>-</b>Trator equipado com lâmina e grade;</p>
                              <p class="text-justify"><b>-</b>Bombas costais;</p>
                              <p class="text-justify"><b>-</b>Abafadores;</p>
                              <p class="text-justify"><b>-</b>Luvas, óculos, botas e protetores respiratórios (EPI).</p>
                
                          </div>
                        </div>
                      </div>
                      </div>
                   </div>
                </div>
              </div>
          
             
              <!-- IMAGENS MAIORES -->
          
              <hr class="featurette-divider ">
          
              <div class="row featurette">
                <div class="col-md-12">
                  <h2 class="featurette-heading subtitulo mt-4 mb-3 subtitulo">10 Dicas para evitar queimadas </h2>
                  <p class="lead text-justify"><b>1 -</b> Jamais atear fogo em área de vegetação ou roçado/desmatada sem a devida autorização e supervisão do órgão ambiental;</p>

                    <p class="lead text-justify"><b>2 -</b> Para as propriedades rurais, manter sempre aceiradas e o grupo de vizinhos sempre atentos a qualquer surgimento de queimada;</p>
                    
                    <p class="lead text-justify"><b>3 –</b> Na zona urbana, todo proprietário de terreno deve manter sua propriedade limpa, com pouca ou nenhuma vegetação;</p>
                    
                    <p class="lead text-justify"><b>4 -</b> Não usar o fogo como agente de limpeza, em quaisquer que seja o local ou para renovar a pastagem;</p>
                  
                    <p class="lead text-justify"><b>5 -</b> Não queimar lixo, folhagens, galhadas e entulhos, principalmente se for próximo de áreas de vegetação (este tipo de material deve ser destinado para o local certo, e não queimado);</p>
                
                    <p class="lead text-justify"><b>6 -</b> Não lançar “bituca” de cigarro pela janela do veículo quando trafegar por rodovias ou estradas vicinais, pois a vegetação seca pega fogo com muita facilidade, devido à baixa umidade do período de estiagem;</p>
              
                    <p class="lead text-justify"><b>7 –</b> Quando, em acampamentos, ter o máximo de cuidado na hora de acender fogueiras, velas, lamparinas e lampiões. Só acender fogueiras em local limpo e sem nenhuma vegetação em volta ou próxima ao rio. Quando for deixar o acampamento ou não mais utilizar a fogueira, certificar-se de que as brasas já foram todas apagadas e resfriadas e preferencialmente enterrar os resquícios da fogueira;</p>
            
                    <p class="lead text-justify"><b>8 –</b> Não soltar balões, pois além do fato de ser perigoso é crime, conforme a Lei de Crimes Ambientais (Lei Federal nº 9605/98). O balão pode cair ainda aceso em áreas de vegetação, ocasionando um incêndio florestal, sendo assim uma ameaça ao nosso meio ambiente;</p>
          
                    <p class="lead text-justify"><b>9 -</b> Lembrar sempre que ainda segundo a Lei de Crimes Ambientais – Lei 9605/1998, provocar incêndios em área de vegetação é crime, com pena de reclusão de 2 a 4 anos e multa e para aqueles que causarem poluição que afete a fauna e a flora (colocar fogo em lixo, entulho, etc.), a mesma lei estipula uma pena de 2 a a 4 anos de reclusão mais multa;</p>
        
                    <p class="lead text-justify"></p><b>10 -</b> Terão situações em que o incêndio já iniciou, será necessário que o combate seja iniciado o mais breve possível, portanto, aquela pessoa que presenciá-lo, deve acionar o Corpo de Bombeiros Militar pelo fone 193 ou a Defesa Civil no fone 199, manter-se calmo e identificar-se, informando a localização exata e informar um ou mais pontos de referência para que as equipes encontrem o local de forma mais rápida.</p>
  
                    
                <h6 class="lead text-justify texto">Disponível em <a href="https://portal.to.gov.br/noticia/2019/8/8/10-dicas-para-evitar-queimadas-no-periodo-de-estiagem/">https://portal.to.gov.br/noticia/2019/8/8/10-dicas-para-evitar-queimadas-no-periodo-de-estiagem/</a></h6>  </div>
              </div>

              <hr class="featurette-divider ">
              
              <h2 class="featurette-heading subtitulo mt-4 mb-3">Imagens</h2>           
              <div class="row featurette col-md-12">
                <div class="col-md-6 zoom">
                    <img th:src="@{../imagens/o7.png}" class="d-block img-responsive" style="height: 600px;">
                </div>
                
                <div class="col-md-6 zoom">
                  <img th:src="@{../imagens/o11.jpg}" class="d-block img-responsive" style="height: 600px;">
                </div>

                <div class="col-md-12 my-4 zoom">
                  <center>
                  <img th:src="@{../imagens/o9.jpg}" class="img-responsive" style="height: 600px; width: 800px;">
                  </center>
                </div>

              </div>
        
  
      </section>
      <footer th:insert="~{fragments/footer.html}" />

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" ></script>


    </body>

    </html>