<div id="footer-links">
    <img class="link-rede-social" src="https://img.icons8.com/doodle/48/000000/linkedin--v2.png"/>
    <img class="link-rede-social" src="https://img.icons8.com/doodle/48/000000/facebook-circled.png"/>
    <img class="link-rede-social" src="https://img.icons8.com/doodle/48/000000/twitter-circled.png"/>
    <img class="link-rede-social" src="https://img.icons8.com/doodle/48/000000/whatsapp.png"/>
</div>
<div id="footer-links-uteis">
    <span><a href="https://www.gov.br/ibama/pt-br">Ibama | </a></span>
    <span><a href="https://www.ibge.gov.br/geociencias/cartas-e-mapas/mapas-regionais/15819-amazonia-legal.html?=&t=o-que-e">Amazônia Legal | </a></span>
    <span><a href="http://www.abc.gov.br/zopacas/informacoes/InstituicaoMMA.aspx">Min. do Meio Ambiente</a></span>
</div>