<!-- HEADER -->

<header>
    <nav class="navbar sticky-top navbar-expand-md header-principal">

        <div class="navbar menu-principal" id="navbar">
            <ul class="navbar-nav mr-auto  pr-4">
                <li class="nav-item active pr-3">
                    <img th:src="@{../imagens/logo.png}" href="#" alt="Brasil em Chamas">
                </li>

                <li class="nav-item active">
                    <a class="nav-link mr-2  navitens" href="/">Página Inicial <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navitens" href="n">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  navitens" href="#">Evolução de Queimadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navitens" href="#">Áreas Protegidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navitens" href="#">Orientações</a>
                </li>
            </ul>
        </div>
        <form class="form-inline pt-3">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</header>