<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>

<head th:insert="~{fragments/head}" />

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <header th:insert="~{fragments/header}" />

    <h1 class="h1-principal">Notícias</h1>

    <section class="noticia-principal section-noticia">
        <div id="noticia-principal">
            <img th:src="@{${noticiaPrincipal.URLImagem}}" alt="">
            <div id="caixa-cinza-noticia-princial">
                <h3 th:text="${noticiaPrincipal.titulo}" />
                <p th:text="${noticiaPrincipal.corpo}" />
                <span><a th:href="@{/n(caminho=${noticiaPrincipal.caminho})}">Ler mais</a></span>
            </div>
        </div>
    </section>

    <section id="outras-noticias" class="section-noticia grid-noticias">
        <div class="item-noticia" th:each="noticia : ${noticias}">
            <img th:src="@{${noticia.URLImagem}}" alt="">
            <span><a th:text="${noticia.titulo}" th:href="@{/n(caminho=${noticia.caminho})}"></a></span>
            <p th:text="${noticia.corpo}" />
        </div>
    </section>
    <footer th:insert="~{fragments/footer.html}" />
    <script src="" async defer></script>
</body>

</html>