<html>

<head th:insert="~{fragments/head}" />

<body class="colorpage">

    <!-- HEADER -->

    <header th:insert="~{fragments/header}" />


    <!-- CORPO HOMEPAGE -->

    <div class="container-fluid">
        <br>
        <hr class="featurette-divider divisoriaReta">
        <br>
        <div class="col-md-12 px-0 text-center">
            <img th:src="@{${noticia.URLImagem}}" class="imgpost" alt="post">

            <label class="frasepost1" th:text="${noticia.titulo}" />
        </div>

        <div class="px-5">
            <hr class="featurette-divider divisoriaReta">
            <br>
            <br>

            <div class="container-fluid">
                <div class="col-md-12 artigo mb-4">
                    <p class="pb-2  tituloTexto " th:text="${noticia.titulo}" />
                    <p class="inf text-muted border-bottom">11 Janeiro de 2020, por Nome do Autor.</p>
                </div>
                <center>
                    <div class="textoartigo col-md-10">
                        <p th:text="${noticia.corpo}" />
                    </div>
                </center>
            </div>


            <hr class="featurette-divider divisoriaReta">
            <br>

            <div class="row featurette pt-2">
                <h2 class="featurette-heading subtitulo">Textos Similares</h2>
            </div>
            <br>

            <div class="row mb-2">
                <div class="col-md-6 zoom">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Featured post</h3>
                            <div class="mb-1 text-muted">Nov 12</div>
                            <p class="card-text mb-auto">This is a wider card with supporting text below as a natural
                                lead-in to additional content.</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img" width="200" height="250" src="../../../imagens/texto1.png"
                                href="#" alt="texto1">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 zoom">
                    <div
                        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                            <h3 class="mb-0">Post title</h3>
                            <div class="mb-1 text-muted">Nov 11</div>
                            <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to
                                additional content.</p>
                            <a href="#" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="bd-placeholder-img" width="200" height="250" src="../../../imagens/texto2.png"
                                href="#" alt="texto2">
                        </div>
                    </div>
                </div>
            </div>


            <!-- CONTATO -->

            <footer th:insert="~{fragments/footer.html}" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
    <script src="" async defer></script>
</body>

</html>