@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
.colorpage{
  background-color: #fafafa;
}

.navitens{
  font-style: inherit;
  font-family: Russo One;
  text-decoration: underline;
  font-size: 4.5mm;
  color: black;
  padding-top: 8mm;
  padding-right: 6mm;
}

.posicao{
  padding-bottom: 5px;
  padding-top: 30px;
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
}

.divisoriaReta{
  margin-right: 20px;
  margin-left: 20px;
  justify-content: center;
}

.imagManchete{
  width:360;
  height:200;
}
.titulo{
  font-style: inherit;
  font-family: Russo One;
  font-size: 9mm;
  color: black;
  padding-bottom: 10px;
  margin-left: 30px;
}

.subtitulo{
  font-style: inherit;
  font-family: Russo One;
  font-size: 7mm;
  color: black;
  padding-bottom: 10px;
  margin-left: 30px;
}
.infExtra{
  font-style: italic;
  font-family: Russo One;
  font-size: 4.5mm;
  color: rgba(110, 110, 110, 0.767);
  margin-left: 30px;
}
.corpoTexto{
  font-style: normal;
  font-family: Russo One;
  font-size: 5mm;
  color: black;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 30px;
}

.links{
  font-style: inherit;
  font-family: Russo One;
  text-decoration: underline;
  font-size: 4.5mm;
  color: black;
  padding-top: 8mm;
  margin-left: 30px;
}